.Myborder{
              
    border-bottom: solid 0.2em white;
    border-top: solid 0.1em white;  
}

.ip2 {
    border-radius: 5px !important;
    border: 1.5px solid #024F52;
    padding: 20px; 
    width: 200px;
    height: 15px;    
    }
.absolute{
 position:absolute ;
 left:0 !important;
 right:0 !important;
 bottom:0 !important;
}

@media screen and (max-width: 600px) {
        div.example {
            font-size: 20px;
            }
}
@media screen and (min-width: 601px) {
        div.example {
           font-size: 25px;
        }
}  
@media screen and (min-width: 601px) {
        img.set {
           height:60px;
           width:60px;
        }
} 
@media screen and (min-width: 601px) {
        img.set {
           height:70px;
           width:70px;
        }
}   